# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
    
    1.Matplotlib
    2.Seaborn
    3.Scikitlearn
    4.ggplot

| Data Science Tools        |
|---------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache spark           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
# This is a simple arithmetic expression to multiply then add integers.
result = (3 * 4) + 5
result

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
minTohrs =200/60
minTohrs

3.3333333333333335

**Objectives:**

- List popular languages for Data Science
- Create tables to organize Data Science tools
- Perform basic arithmetic operations in Python
- Understand the use of markdown cells for documentation

## Author
Vasanthi Sivasankar